h1 {
 text-align: center;
 color: #7952b3;
 background-color: white;
}

body {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
    display: inline-block;
}

.btn-primary {
    color:  white;
    background-color:  #7952b3;
    border-color: white;
}

.btn-primary:hover{
    border: 1px solid #7952b3;
    background-color: white;
    color: #7952b3;
}